<NavBar />
<h2>
    Login to continue
</h2>

<div>
    <form {{on "submit" this.authenticate}}>
        <div>
            <label for="identification">Login</label>
            <input id="identification" placeholder="Enter Login" value={{this.identification}} {{on "change"
                this.updateIdentification}} />
        </div>

        <div>
            <label for="password">Password</label>
            <input id="password" placeholder="Enter Password" value={{this.password}} {{on "change"
                this.updatePassword}} />
        </div>

        <button type="submit" class="button">Login</button>
        {{#if this.errorMessage}}
        <p>{{this.errorMessage}}</p>
        {{/if}}
    </form>
</div>

{{#if error}}
<p><strong>{{error}}</strong></p>
{{/if}}

{{!-- Bootstrap Form --}}
{{!-- <BsForm @model={{this.login}} @onSubmit={{action "submit"}} as |form|>
  <form.element @controlType="email" @label="Email" @placeholder="Email" @property="email" />
  <form.element @controlType="password" @label="Password" @placeholder="Password" @property="password" @helpText="Minimum 6 characters" />
  <form.submitButton>Submit</form.submitButton>
</BsForm> --}}
