<NavBar />
<h2>
    Login to continue
</h2>

<div>
    <form {{on "submit" this.login}}>
        <div>
            <label for="username">Username</label>
            <input name="username" type="text" placeholder="Enter Username" {{on "change" (fn this.update "username")}}>
        </div>

        <div>
            <label for="password">Password</label>
            <input name="password" type="password" placeholder="Enter Password" {{on "change" (fn this.update "password")}}>
        </div>

        <input type="submit" class="bg-transparent hover:bg-teal-400 text-teal-400 font-semibold hover:text-white py-2 px-4 border border-teal-400 hover:border-transparent rounded" value = "Login">
    </form>
</div>

{{#if error}}
<p><strong>{{error}}</strong></p>
{{/if}}

{{!-- Bootstrap Form --}}
{{!-- <BsForm @model={{this.login}} @onSubmit={{action "submit"}} as |form|>
  <form.element @controlType="email" @label="Email" @placeholder="Email" @property="email" />
  <form.element @controlType="password" @label="Password" @placeholder="Password" @property="password" @helpText="Minimum 6 characters" />
  <form.submitButton>Submit</form.submitButton>
</BsForm> --}}
